@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the disaster alleviation foundation</h1>
    <img class="background" src="~/lib/bootstrap/Images/DAF1.jpg" />

</div>
